@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@700&family=Poppins:wght@300;600&family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&family=Poppins:wght@300;600&family=Tapestry&display=swap");

* {
  margin: 0;
}
nav {
  position: relative;
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img_p1 {
  display: flex;
  align-items: center;
}

.header-img_p1 > img {
  width: 31.31px;
  height: 26.22px;
  padding-left: 5%;
  margin: 1%;
}

.header-p1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  width: 170px;
  color: #ffffff;
}
.header-p2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
  margin-right: 5%;
}
main {
  margin: 5%;
}
.main_input {
  display: flex;
  justify-content: space-between;
}

.main_input > input {
  width: 325px;
  height: 35px;
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 5px;
}

.main_button {
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  margin-top: 2%;
  border: none;
  cursor: pointer;
}
main > img {
  width: 100%;
  border-radius: 2px;
  margin-top: 5%;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.form_img {
  grid-column: 1 / -1;
  width: 100%;
}

.img1 {
  width: 100%;
}
